__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.coffea
output*/
plots*/
pocket_coffea/analysis_output/
pocket_coffea/logs/
pocket_coffea/python_env/

*.root
!tests/data/*.root

.DS_Store
